<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gästbok</h1>
    <p>Fyll i följande:</p>
    <form action="">
        <label for="name">Namn:</label><br>
        <input type="text">
        <label for="email">Email:</label>
        <input type="email">
        <label for="hpage">Homepage:</label>
        <input type="text">
        <label for="tele">Telefon nummer:</label>
        <input type="number">
        <label for="comm">Commet:</label>
        <input type="text">
    </form>
</body>
</html>